JIRA_BASE_URL=https://your-company.atlassian.net
ZEPHYR_BASE_URL=https://prod-api.zephyr4jiracloud.com/connect

ZEPHYR_ACCESS_KEY=your_zephyr_access_key
ZEPHYR_SECRET_KEY=your_zephyr_secret_key
ZEPHYR_ACCOUNT_ID=your_atlassian_account_id

PROJECT_KEY=QA
CYCLE_ID=your_cycle_id
VERSION_ID=-1